body {
  background-color: aquamarine;
}

.wrapper {
 width: 400px; 
 /* height: 600px; */
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 box-sizing: border-box;
}

.result-window{
  width: 100%;
  height: 100px;
  margin: 0;
  box-sizing: border-box;
  background: black; 
  color: white; 
  /* padding: 1px 5px; */
  text-align: end;
}

.clear {
  width: 50%;
  height:100px;
  margin:0;
  box-sizing: border-box;
}

.square {
  width: 25%;
  height: 100px;
  margin:0;
  box-sizing: border-box;
}

button {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-size: 30px;
  border: 1px solid black;
}

.zero {
  width: 75%;
  height:100px;
  margin:0;
  box-sizing: border-box;
}

.rightmost {
background-color: orange;
color:white;
}
